.App {
  margin: 30px auto;
  max-width: 600px;
}

body {
  background-image: url("../public/images/trees.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: rgb(249, 249, 249);
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.85;
  padding: 5px 0px;
  text-align: center;
}

footer a {
  text-decoration: none;
}
