.WeatherForecast {
  border: 1px solid #757575;
  border-radius: 10px;
  text-align: center;
}

.WeatherForecast .forecast-day {
}

.WeatherForecast .forecast-high {
  font-weight: bold;
}

.WeatherForecast .forecast-low {
  margin-left: 8px;
  opacity: 0.8;
}

.WeatherForecast .forecast-icon {
  float: none;
  height: 50px;
  width: 50px;
  margin: 5px;
}

.WeatherForecast .forecast-temperature {
}
