.WeatherForecast {
  text-align: center;
}

.WeatherForecast .forecast-high {
  font-weight: bold;
}

.WeatherForecast .forecast-low {
  margin-left: 5px;
  opacity: 0.8;
}

.WeatherForecast .forecast-icon {
  float: none;
  width: 50px;
  margin: 5px;
}
